<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.smart_site.dao.AdminStaffDao">
    <!--增加管理人员-->
    <insert id="InsertAdminStaff" parameterType="java.util.Map">
        INSERT INTO `smart_site`.`admin_staff` (`admin_name`, `admin_age`, `admin_img`, `admin_sex`, `admin_nation`, `admin_address`, `admin_province`, `admin_card`, `admin_phone`, `sos_name`, `sos_ship`, `sos_phone`, `entry_time`, `section_id`, `department_id`, `picture`, `type`) VALUES (#{admin_name}, #{admin_age}, #{admin_img}, #{admin_sex}, #{admin_nation}, #{admin_address}, #{admin_province}, #{admin_card}, #{admin_phone}, #{sos_name}, #{sos_ship}, #{sos_phone}, now(), #{section_id}, #{department_id}, #{picture}, #{type});
    </insert>

    <!--删除管理人员-->
    <delete id="DeleteAdminStaff" parameterType="java.util.Map">
        DELETE FROM `smart_site`.`admin_staff` WHERE `id`=#{id}
    </delete>

    <!--修改管理人员信息-->
    <update id="UpdateAdminStaff" parameterType="java.util.Map">
        UPDATE `smart_site`.`admin_staff` SET `admin_name`=#{admin_name}, `admin_age`=#{admin_age}, `admin_img`=#{admin_img}, `admin_sex`=#{admin_sex}, `admin_nation`=#{admin_nation}, `admin_address`=#{admin_address}, `admin_province`=#{admin_province}, `admin_card`=#{admin_card}, `admin_phone`=#{admin_phone}, `sos_name`=#{sos_name}, `sos_ship`=#{sos_ship}, `sos_phone`=#{sos_phone}, `section_id`=#{section_id}, `department_id`=#{department_id}, `picture`=#{picture} WHERE (`id`=#{id});
    </update>

    <!--修改App头像-->
    <update id="UpdateAdminStaffPicture" parameterType="java.util.Map">
         UPDATE `smart_site`.`admin_staff` SET `picture`=#{picture} WHERE `id`=#{id}
    </update>

    <!--修改App登录密码-->
    <update id="UpdateAdminStaffPassword" parameterType="java.util.Map">
         UPDATE `smart_site`.`admin_staff` SET `password`=#{password} WHERE `id`=#{id}
    </update>

    <!--修改员工在职/离职状态-->
    <update id="UpdateAdminStaffState" parameterType="java.util.Map">
         UPDATE `smart_site`.`admin_staff` SET `state`='0' WHERE `id`=#{id}
    </update>
    <!--分页模糊查询管理人员信息-->
    <select id="FindAdminStaff" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.AdminStaff">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT a.`id`, a.`admin_name`, a.`admin_age`, a.`admin_img`, a.`admin_sex`, a.`admin_nation`, a.`admin_address`, a.`admin_province`, a.`admin_card`, a.`admin_phone`, a.`sos_name`, a.`sos_ship`, a.`sos_phone`, a.`entry_time`, a.`section_id`, a.`department_id`, a.`password`, a.`picture`, a.`state`, a.`status`, a.`type`,d.department_name as department_name FROM `smart_site`.`admin_staff` a
        INNER JOIN `smart_site`.`section` s ON a.`section_id`=s.`id`
        INNER JOIN `smart_site`.`department` d ON a.`department_id`=d.`id`
        <where>
            a.`section_id`=#{section_id}
            <if test="admin_name!=null and admin_name!=''">
               and a.`admin_name` like concat("%",#{admin_name},"%")
            </if>
            <if test="department_id!=null and department_id!=''">
                and a.`department_id`=#{department_id}
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(*) FROM `smart_site`.`admin_staff`
        <where>
            `section_id`=#{section_id}
            <if test="admin_name!=null and admin_name!=''">
                and `admin_name` like concat("%",#{admin_name},"%")
            </if>
            <if test="department_id!=null and department_id!=''">
                and `department_id`=#{department_id}
            </if>
        </where>
    </select>

    <!--根据手机号查询员工信息-->
    <select id="FindAdminStaffByStaff_phone" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.AdminStaff">
         SELECT `id`, `admin_name`, `admin_age`, `admin_img`, `admin_sex`, `admin_nation`, `admin_address`, `admin_province`, `admin_card`, `admin_phone`, `sos_name`, `sos_ship`, `sos_phone`, `entry_time`, `section_id`, `department_id`,`position_id`, `password`, `picture`, `state`, `status`, `type` FROM `smart_site`.`admin_staff`
         WHERE `admin_phone`=#{admin_phone}
    </select>

    <!--根据身份证号查询员工信息-->
    <select id="FindAdminStaffByStaff_card" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.AdminStaff">
         SELECT `id`, `admin_name`, `admin_age`, `admin_img`, `admin_sex`, `admin_nation`, `admin_address`, `admin_province`, `admin_card`, `admin_phone`, `sos_name`, `sos_ship`, `sos_phone`, `entry_time`, `section_id`, `department_id`,`position_id`, `password`, `picture`, `state`, `status`, `type` FROM `smart_site`.`admin_staff`
         WHERE `admin_card`=#{admin_card}
    </select>
</mapper>