<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.smart_site.dao.CommodityDao">
    <!--增加商品信息-->
    <insert id="InsertCommodity" parameterType="java.util.Map">
        INSERT INTO `smart_site`.`commodity` (`commodity_name`, `commodity_price`, `commodity_img`, `up_time`,
        `section_id`) VALUES (#{commodity_name}, #{commodity_price}, #{commodity_img},now(), #{section_id});
    </insert>

    <!--删除商品信息-->
    <delete id="DeleteCommodity" parameterType="java.util.Map">
        DELETE FROM `smart_site`.`commodity` WHERE `id`=#{id}
    </delete>

    <!--修改商品信息-->
    <update id="UpdateCommodity" parameterType="java.util.Map">
        UPDATE `smart_site`.`commodity` SET `commodity_name`=#{commodity_name}, `commodity_price`=#{commodity_price},
        `commodity_img`=#{commodity_img} WHERE (`id`=#{id});
    </update>

    <!--分页模糊查询商品信息-->
    <select id="FindCommodity" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Commodity">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT `id`, `commodity_name`, `commodity_price`, `commodity_img`, `section_id`, `up_time`, `active` FROM
        `smart_site`.`commodity`
        <where>
            `section_id`=#{section_id}
            <if test="commodity_name!=null and commodity_name!=''">
                and commodity_name like concat ("%",#{commodity_name},"%")
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(*) FROM `smart_site`.`commodity`
        <where>
            `section_id`=#{section_id}
            <if test="commodity_name!=null and commodity_name!=''">
                and commodity_name like concat ("%",#{commodity_name},"%")
            </if>
        </where>
    </select>

    <!--根据id查询商品信息-->
    <select id="FindCommodityById" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Commodity">
        SELECT `id`, `commodity_name`, `commodity_price`, `commodity_img`, `section_id`, `up_time`, `active` FROM
        `smart_site`.`commodity` where `id`=#{commodity_id}
    </select>
</mapper>