<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.smart_site.dao.DepartmentDao">
    <!--增加部门信息-->
    <insert id="InsertDepartment" parameterType="java.util.Map">
        INSERT INTO `smart_site`.`department` (`department_name`, `depthead`, `section_id`, `headphone`, `remark`)
        VALUES (#{department_name}, #{depthead}, #{section_id}, #{headphone}, #{remark});
    </insert>

    <!--删除部门信息-->
    <delete id="DeleteDepartment" parameterType="java.util.Map">
        DELETE FROM `smart_site`.`department` WHERE `id`=#{id}
    </delete>

    <!--修改部门信息-->
    <update id="UpdateDepartment" parameterType="java.util.Map">
        UPDATE `smart_site`.`department` SET `department_name`=#{department_name}, `depthead`=#{depthead},
        `headphone`=#{headphone}, `remark`=#{remark} WHERE (`id`=#{id});
    </update>

    <!--修改部门人数-->
    <update id="UpdateDepartmentPercount" parameterType="java.util.Map">
        UPDATE `smart_site`.`department` SET percount=#{percount}+1 where id=#{department_id}
    </update>

    <!--分页模糊查询部门信息-->
    <select id="FindDepartment" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Department">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT d.`id`, d.`department_name`, d.`section_id`, d.`percount`, d.`depthead`, d.`headphone`,
        d.`remark`,s.`section_name` as section_name FROM `smart_site`.`department` d
        INNER JOIN `smart_site`.`section` s ON s.`id`=d.`section_id`
        <where>
            d.`state`='显示' and
            d.`section_id`=#{section_id}
            <if test="department_name!=null and department_name!=''">
                and d.`department_name` like concat("%",#{department_name},"%")
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(*) FROM `smart_site`.`department`
        <where>
            `state`='显示' and
            `section_id`=#{section_id}
            <if test="department_name!=null and department_name!=''">
                and `department_name` like concat("%",#{department_name},"%")
            </if>
        </where>
    </select>

    <!--下拉框查询部门信息-->
    <select id="SelectDepartment" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Department">
        SELECT `id`, `department_name` FROM `smart_site`.`department` WHERE `section_id`=#{section_id}
    </select>

    <!--根据depatment_id查询部门信息-->
    <select id="FindDepartmentByDepartmentId" parameterType="java.util.Map"
            resultType="com.zty.smart_site.entity.Department">
        SELECT `id`, `department_name`, `section_id`, `percount`, `depthead`, `headphone`, `remark` FROM
        `smart_site`.`department` WHERE `id`=#{department_id}
    </select>
</mapper>