<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.smart_site.dao.DwDao">
    <!--修改-->
    <insert id="InsertDw" parameterType="java.util.Map">
        INSERT INTO `smart_site`.`dw` (`carId`, `lonc`, `latc`, `speed`, `uptime`, `carNO`, `dir`) VALUES (#{carId}, #{lonc}, #{latc}, #{speed}, now(),#{carNO},#{dir});
    </insert>

    <!---->
    <update id="UpdateDw" parameterType="java.util.Map">
        UPDATE `smart_site`.`dw`
        <trim prefix="SET" suffixOverrides=",">
            <if test="lonc!=null and lonc!=''">
                `lonc`=#{lonc},
            </if>
            <if test="latc!=null and latc!=''">
                `latc`=#{latc},
            </if>
            <if test="speed!=null and speed!=''">
                `speed`=#{speed},
            </if>
            <if test="carNO!=null and carNO!=''">
                `carNO`=#{carNO},
            </if>
            <if test="dir!=null and dir!=''">
                `dir`=#{dir},
            </if>
            <if test="uptime!=null and uptime!=''">
                `uptime`=#{uptime},
            </if>
        </trim>
        WHERE (`carId`=#{carId})
    </update>

    <!--查询-->
    <select id="FindDw" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Dw">
        Select * FROM `smart_site`.`dw`
        ORDER BY `carId` ASC
    </select>

    <!--查询-->
    <select id="FindDwBycarId" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Dw">
        Select * FROM `smart_site`.`dw` WHERE `carId`=#{carId}
    </select>
</mapper>