<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.smart_site.dao.ExaminationDao">
    <!--增加试卷-->
    <insert id="InsertExamination" parameterType="java.util.Map">
        INSERT INTO `smart_site`.`examination` (`section_id`, `examinationtype_id`, `examination_name`, `questions`, `select_count`, `judge_count`, `gap_count`, `short_count`, `exam_time`)
        VALUES (#{section_id}, #{examinationtype_id}, #{examination_name}, #{questions}, #{select_count}, #{judge_count}, #{gap_count}, #{short_count}, #{exam_time});
    </insert>

    <!--删除试卷-->
    <delete id="DeleteExamination" parameterType="java.util.Map">
        DELETE FROM `smart_site`.`examination` WHERE `id`=#{id}
    </delete>

    <!--分页模糊查询试卷-->
    <select id="FindExamination" parameterType="java.util.Map" resultType="com.zty.smart_site.entity">

    </select>
</mapper>