<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.smart_site.dao.ExamDao">
    <!--增加考试-->
    <insert id="InsertExam" parameterType="java.util.Map">
        INSERT INTO `smart_site`.`exam` (`exam_name`, `section_id`, `specialty_id`, `examination_id`, `worktype_id`, `exam_time`, `start_time`, `end_time`, `up_time` ,`start_timeC` ,`end_timeC`)
        VALUES (#{exam_name}, #{section_id}, #{specialty_id}, #{examination_id}, #{worktype_id}, #{exam_time}, #{start_time}, #{end_time}, now() ,#{start_timeC} ,#{end_timeC});
    </insert>

    <!--删除考试-->
    <delete id="DeleteExam" parameterType="java.util.Map">
        DELETE FROM `smart_site`.`exam` WHERE `id`=#{id}
    </delete>

    <!--修改考试-->
    <update id="UpdateExam" parameterType="java.util.Map">
        UPDATE `smart_site`.`exam` SET  `exam_name`=#{exam_name}, `specialty_id`=#{specialty_id}, `examination_id`=#{examination_id}, `worktype_id`=#{worktype_id}, `exam_time`= #{exam_time}, `start_time`=#{start_time}, `end_time`=#{end_time}, `up_time`=now(), `start_timeC`=#{start_timeC}, `end_timeC`=#{end_timeC} WHERE (`id`=#{id});
    </update>

    <!--分页模糊查询考试-->
    <select id="FindExam" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Exam">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT e.`id`, e.`exam_name`, e.`section_id`, e.`specialty_id`, e.`examination_id`, e.`worktype_id`, e.`exam_time`, e.`start_time`, e.`end_time`, e.`up_time`, e.`start_timeC`, e.`end_timeC`,l.`specialty_name` as `specialty_name`, x.`examination_name` as `examination_name`, w.`worktype_name` as `worktype_name`  FROM `smart_site`.`exam` e
        INNER JOIN `smart_site`.`specialty` l ON e.`specialty_id`=l.`id`
        INNER JOIN `smart_site`.`examination` x ON e.`examination_id`=x.`id`
        INNER JOIN `smart_site`.`worktype` w ON e.`worktype_id`=w.`id`
        <where>
                e.`section_id`=#{section_id}
            <if test="exam_name!=null and exam_name!=''">
                and e.`exam_name`like concat("%",#{exam_name},"%")
            </if>
        </where>
        ORDER BY e.`up_time` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(*) FROM `smart_site`.`exam`
        <where>
                `section_id`=#{section_id}
            <if test="exam_name!=null and exam_name!=''">
                and `exam_name`like concat("%",#{exam_name},"%")
            </if>
        </where>
    </select>

    <!--最新考试App-->
    <select id="FindExamNew" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Exam">
        SELECT e.`id`, e.`exam_name`, e.`section_id`, e.`specialty_id`, e.`examination_id`, e.`worktype_id`, e.`exam_time`, e.`start_time`, e.`end_time`, e.`up_time`, e.`start_timeC`, e.`end_timeC`,l.`specialty_name` as `specialty_name`, x.`examination_name` as `examination_name`, w.`worktype_name` as `worktype_name`  FROM `smart_site`.`exam` e
        INNER JOIN `smart_site`.`specialty` l ON e.`specialty_id`=l.`id`
        INNER JOIN `smart_site`.`examination` x ON e.`examination_id`=x.`id`
        INNER JOIN `smart_site`.`worktype` w ON e.`worktype_id`=w.`id`
        WHERE e.`section_id`=#{section_id}
        ORDER BY e.`up_time` DESC
        limit 1;
    </select>

    <!--最新考试_公众号-->
    <select id="FindExamNewG" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Exam">
        SELECT e.`id`, e.`exam_name`, e.`section_id`, e.`specialty_id`, e.`examination_id`, e.`worktype_id`, e.`exam_time`, e.`start_time`, e.`end_time`, e.`up_time`, e.`start_timeC`, e.`end_timeC`,l.`specialty_name` as `specialty_name`, x.`examination_name` as `examination_name`, w.`worktype_name` as `worktype_name`  FROM `smart_site`.`exam` e
        INNER JOIN `smart_site`.`specialty` l ON e.`specialty_id`=l.`id`
        INNER JOIN `smart_site`.`examination` x ON e.`examination_id`=x.`id`
        INNER JOIN `smart_site`.`worktype` w ON e.`worktype_id`=w.`id`
        WHERE e.`section_id`=#{section_id} and e.`worktype_id`=#{worktype_id}
        ORDER BY e.`up_time` DESC
        limit 1;
    </select>
</mapper>