<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.smart_site.dao.MessageDao">
    <!--添加我的信息-->
    <insert id="InsertMessage" parameterType="java.util.Map">
        INSERT INTO `smart_site`.`message` (`staff_id`, `station_id`, `uptime`, `nowtime`,`upC`,`noC`) VALUES
        (#{staff_id}, #{station_id}, #{uptime}, now(),#{upC},#{noC});
    </insert>

    <!--分页查询我的信息-->
    <select id="FindMessage" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Message">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        select m.`id`,m.`staff_id`, m.`station_id`, m.`uptime`,m.`upC`,m.`noC`,s.`station_name` as `station_name` FROM
        `smart_site`.`message` m
        INNER JOIN `smart_site`.`station` s ON m.`station_id`=s.`id`
        WHERE m.`staff_id`=#{staff_id}
        ORDER BY m.`nowtime` DESC
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        select COUNT(*) FROM `smart_site`.`message` m WHERE m.`staff_id`=#{staff_id}
    </select>
</mapper>