<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.smart_site.dao.RiskDao">
    <!--增加安全隐患类型-->
    <insert id="InsertRisk" parameterType="java.util.Map">
        INSERT INTO `smart_site`.`risk` (`section_id`, `risk_category`, `risk_description`, `risk_grade`, `risk_duration`, `construction`, `construction_person`, `construction_phone`, `supervisor`, `supervisor_person`, `supervisor_phone`) VALUES (#{section_id}, #{risk_category}, #{risk_description}, #{risk_grade}, #{risk_duration}, #{construction}, #{construction_person}, #{construction_phone}, #{supervisor}, #{supervisor_person}, #{supervisor_phone});
    </insert>

    <!--删除安全隐患类型-->
    <delete id="DeleteRisk" parameterType="java.util.Map">
        DELETE FROM `smart_site`.`risk` WHERE `id`=#{id}
    </delete>

    <!--修改安全隐患类型-->
    <update id="UpdateRisk" parameterType="java.util.Map">
        UPDATE `smart_site`.`risk` SET `risk_category`=#{risk_category}, `risk_description`=#{risk_description}, `risk_grade`=#{risk_grade}, `risk_duration`=#{risk_duration}, `construction`=#{construction}, `construction_person`=#{construction_person}, `construction_phone`=#{construction_phone}, `supervisor`=#{supervisor}, `supervisor_person`=#{supervisor_person}, `supervisor_phone`=#{supervisor_phone} WHERE (`id`=#{id});
    </update>

    <!--分页模糊查询安全隐患类型-->
    <select id="FindRisk" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Risk">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT `id`, `section_id`, `risk_category`, `risk_description`, `risk_grade`, `risk_duration`, `construction`, `construction_person`, `construction_phone`, `supervisor`, `supervisor_person`, `supervisor_phone` FROM `smart_site`.`risk`
        <where>
            `section_id`=#{section_id}
            <if test="risk_category!=null and risk_category!=''">
                and `risk_category` like concat("%",#{risk_category},"%")
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(*) FROM `smart_site`.`risk` WHERE `section_id`=#{section_id}
    </select>
    
    <!--下拉框查询安全隐患类型-->
    <select id="SelectRisk" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Risk">
        SELECT `id` , `risk_category` FROM `smart_site`.`risk` WHERE `section_id`=#{section_id}
    </select>
</mapper>