<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.smart_site.dao.SectionStaffDao">
    <!--增加管理人员-->
    <insert id="InsertSectionStaff" parameterType="java.util.Map">
        INSERT INTO `smart_site`.`section_staff` (`section_name`, `section_age`, `section_img`, `section_sex`, `section_nation`, `section_address`, `section_province`, `section_card`, `section_phone`, `sos_name`, `sos_ship`, `sos_phone`, `entry_time`, `section_id`, `department_id`, `picture`, `type`) VALUES (#{section_name}, #{section_age}, #{section_img}, #{section_sex}, #{section_nation}, #{section_address}, #{section_province}, #{section_card}, #{section_phone}, #{sos_name}, #{sos_ship}, #{sos_phone}, #{entry_time}, #{section_id}, #{department_id}, #{picture}, #{type});
    </insert>

    <!--删除管理人员-->
    <delete id="DeleteSectionStaff" parameterType="java.util.Map">
        DELETE FROM `smart_site`.`section_staff` WHERE `id`=#{id}
    </delete>

    <!--修改管理人员信息-->
    <update id="UpdateSectionStaff" parameterType="java.util.Map">
        UPDATE `smart_site`.`section_staff` SET `section_name`=#{section_name}, `section_age`=#{section_age}, `section_img`=#{section_img}, `section_sex`=#{section_sex}, `section_nation`=#{section_nation}, `section_address`=#{section_address}, `section_province`=#{section_province}, `section_card`=#{section_card}, `section_phone`=#{section_phone}, `sos_name`=#{sos_name}, `sos_ship`=#{sos_ship}, `sos_phone`=#{sos_phone}, `entry_time`=#{entry_time}, `section_id`=#{section_id}, `department_id`=#{department_id}, `password`=#{password}, `picture`=#{picture} WHERE (`id`=#{id});
    </update>

    <!--分页模糊查询管理人员信息-->
    <select id="FindSectionStaff" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.SectionStaff">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT s.`id`, s.`section_name`, s.`section_age`, s.`section_img`, s.`section_sex`, s.`section_nation`, s.`section_address`, s.`section_province`, s.`section_card`, s.`section_phone`, s.`sos_name`, s.`sos_ship`, s.`sos_phone`, s.`entry_time`, s.`section_id`, s.`department_id`, s.`password`, s.`picture`, s.`state`, s.`status`, s.`type` FROM `smart_site`.`section_staff` s
        INNER JOIN `smart_site`.`section` l ON s.`section_id`=l.`id`
        INNER JOIN `smart_site`.`department` d ON s.`department_id`=d.`id`

    </select>
</mapper>