<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.smart_site.dao.StaffDao">
    <!--增加员工信息-->
    <insert id="InsertStaff" parameterType="java.util.Map">
        INSERT INTO `smart_site`.`staff` (`staff_name`, `staff_age`, `staff_img`, `staff_sex`, `staff_nation`, `staff_card`, `staff_address`, `staff_province`, `staff_phone`, `sos_name`, `sos_ship`, `sos_phone`, `entry_time`, `section_id`, `station_id`, `sub_id`, `worktype_id`, `picture`, `type`)
        VALUES (#{staff_name}, #{staff_age}, #{staff_img}, #{staff_sex}, #{staff_nation}, #{staff_card}, #{staff_address}, #{staff_province}, #{staff_phone}, #{sos_name}, #{sos_ship}, #{sos_phone}, now(), #{section_id}, #{station_id}, #{sub_id}, #{worktype_id}, #{picture}, #{type});
    </insert>

    <!--删除员工信息-->
    <delete id="DeleteStaff" parameterType="java.util.Map">
        DELETE FROM `smart_site`.`staff` WHERE `id`=#{id}
    </delete>

    <!--修改员工信息-->
    <update id="UpdateStaff" parameterType="java.util.Map">
        UPDATE `smart_site`.`staff` SET `staff_name`=#{staff_name}, `staff_age`=#{staff_age}, `staff_img`=#{staff_img}, `staff_sex`=#{staff_sex}, `staff_nation`=#{staff_nation}, `staff_card`=#{staff_card}, `staff_address`=#{staff_address},`staff_phone`=#{staff_phone},
        `sos_name`=#{sos_name}, `sos_ship`=#{sos_ship}, `sos_phone`=#{sos_phone},`section_id`=#{section_id}, `station_id`=#{station_id}, `sub_id`=#{sub_id}, `worktype_id`=#{worktype_id} WHERE (`id`=#{id});
    </update>

    <!--修改App头像-->
    <update id="UpdateStaffPicture" parameterType="java.util.Map">
         UPDATE `smart_site`.`staff` SET `picture`=#{picture} WHERE `id`=#{id}
    </update>

    <!--修改App登录密码-->
    <update id="UpdateStaffPassword" parameterType="java.util.Map">
         UPDATE `smart_site`.`staff` SET `password`=#{password} WHERE `id`=#{id}
    </update>

    <!--修改员工在职/离职状态-->
    <update id="UpdateStaffState" parameterType="java.util.Map">
         UPDATE `smart_site`.`staff` SET `state`='0' WHERE `id`=#{id}
    </update>

    <!--修改员工培训状态-->
    <update id="UpdateStaffTrain" parameterType="java.util.Map">
         UPDATE `smart_site`.`staff` SET `train`='1' WHERE `id`=#{id}
    </update>

    <!--修改员工剩余积分-->
    <update id="UpdateStaffEnd_integral" parameterType="java.util.Map">
         UPDATE `smart_site`.`staff` SET `end_integral`=`end_integral`-#{commodity_price} WHERE `id`=#{id}
    </update>

    <!--模糊分页查询员工信息-->
    <select id="FindStaff" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT s.`id`,s.`staff_name`,s.`staff_age`,s.`staff_img`,s.`staff_sex`,s.`staff_nation`,s.`staff_card`,s.`staff_address`,s.`staff_province`,s.`staff_phone`,s.`sos_name`,s.`sos_ship`,s.`sos_phone`,s.`entry_time`,s.`history_integral`,s.`end_integral`,s.`section_id`,s.`station_id`,s.`sub_id`,s.`worktype_id`,s.`password`,s.`picture`,s.`state`,s.`status`,s.`type`,s.`train`,l.subcontractors_name as sub_name,w.worktype_name as worktype_name  FROM `smart_site`.`staff` s
        INNER JOIN `smart_site`.`subcontractors` l ON s.`sub_id`=l.`id`
        INNER JOIN `smart_site`.`worktype` w ON s.`worktype_id`=w.`id`
        <where>
            s.`section_id`=#{section_id}
            <if test="staff_name!=null and staff_name!=''">
               and s.`staff_name` like concat("%",#{staff_name},"%")
            </if>
            <if test="sub_id!=null and sub_id!=''">
               and s.`sub_id`=#{sub_id}
            </if>
            <if test="worktype_id!=null and worktype_id!=''">
                and s.`worktype_id`=#{worktype}
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

    <!--统计总数(行查后台)-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(*) FROM `smart_site`.`staff`
        <where>
            `section_id`=#{section_id}
            <if test="staff_name!=null and staff_name!=''">
                and `staff_name` like concat("%",#{staff_name},"%")
            </if>
            <if test="sub_id!=null and sub_id!=''">
                and `sub_id`=#{sub_id}
            </if>
            <if test="worktype_id!=null and worktype_id!=''">
                and `worktype_id`=#{worktype}
            </if>
        </where>
    </select>

    <!--根据手机号查询员工信息-->
    <select id="FindStaffByStaff_phone" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        SELECT `id`, `staff_name`, `staff_age`, `staff_img`, `staff_sex`, `staff_nation`, `staff_card`, `staff_address`, `staff_province`, `staff_phone`, `sos_name`, `sos_ship`, `sos_phone`, `entry_time`, `history_integral`, `end_integral`, `section_id`, `station_id`, `sub_id`, `worktype_id`, `password`, `picture`, `state`, `status`, `type`, `train` FROM `smart_site`.`staff`
        WHERE `staff_phone`=#{staff_phone}
    </select>

    <!--根据身份证号查询员工信息-->
    <select id="FindStaffByStaff_card" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        SELECT `id`, `staff_name`, `staff_age`, `staff_img`, `staff_sex`, `staff_nation`, `staff_card`, `staff_address`, `staff_province`, `staff_phone`, `sos_name`, `sos_ship`, `sos_phone`, `entry_time`, `history_integral`, `end_integral`, `section_id`, `station_id`, `sub_id`, `worktype_id`, `password`, `picture`, `state`, `status`, `type`, `train` FROM `smart_site`.`staff`
        WHERE `staff_card`=#{staff_card}
    </select>

    <!--根据id查询员工信息-->
    <select id="FindStaffById" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        SELECT `id`, `staff_name`, `staff_age`, `staff_img`, `staff_sex`, `staff_nation`, `staff_card`, `staff_address`, `staff_province`, `staff_phone`, `sos_name`, `sos_ship`, `sos_phone`, `entry_time`, `history_integral`, `end_integral`, `section_id`, `station_id`, `sub_id`, `worktype_id`, `password`, `picture`, `state`, `status`, `type`, `train` FROM `smart_site`.`staff`
        WHERE `id`=#{id}
    </select>

    <!--统计图数据-->
    <!--根据工种分组查询(单独站点)-->
    <select id="CountByWorktype" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        SELECT COUNT(*) as `count`,worktype_id,w.worktype_name as worktype_name from `smart_site`.`staff` s
        inner join `smart_site`.`worktype` w on s.worktype_id=w.id
        WHERE s.section_id=#{section_id} and s.station_id=#{station_id}
        GROUP BY worktype_id
    </select>

    <!--根据分包单位分组查询(单独站点)-->
    <select id="CountBySub" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        SELECT COUNT(*) as `count`,sub_id,w.subcontractors_name as sub_name from `smart_site`.`staff` s
        inner join `smart_site`.`subcontractors` w on s.sub_id=w.id
        WHERE s.section_id=#{section_id} and s.station_id=#{station_id}
        GROUP BY sub_id
    </select>

    <!--根据人员类型分组查询(单独站点)-->
    <select id="CountByType" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        SELECT COUNT(*) as `count`,`type` from `smart_site`.`staff`
        WHERE section_id=#{section_id} and station_id=#{station_id}
        GROUP BY `type`
    </select>

    <!--根据地区分组查询(单独站点)-->
    <select id="CountByStaffProvince" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        SELECT COUNT(*) as `count`,staff_province from `smart_site`.`staff`
        WHERE section_id=#{section_id} and station_id=#{station_id}
        GROUP BY staff_province
    </select>

    <!--根据民族分组查询(单独站点)-->
    <select id="CountByStaffNation" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        SELECT COUNT(*) as `count`,staff_nation from `smart_site`.`staff`
        WHERE section_id=#{section_id} and station_id=#{station_id}
        GROUP BY staff_nation
    </select>

    <!--根据性别分组查询(单独站点)-->
    <select id="CountByStaffSex" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        SELECT COUNT(*) as `count`,staff_sex from `smart_site`.`staff`
        WHERE section_id=#{section_id} and station_id=#{station_id}
        GROUP BY staff_sex
    </select>

    <!--统计总劳务人员数(单独站点)-->
    <select id="CountAll" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        SELECT COUNT(*) as `count` from `smart_site`.`staff`
        WHERE section_id=#{section_id} and station_id=#{station_id}
    </select>

    <!--按照年龄端分组查询(单独站点)-->
    <select id="CountByStaffAge" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Staff">
        SELECT staff_age as age_duan,count(*) as `count` FROM (select case when `staff_age` &gt;= 15 and staff_age &lt;= 20 THEN '15-20' WHEN staff_age &gt;= 21 AND staff_age &lt;= 30 THEN '21-30' WHEN staff_age &gt;= 31 AND staff_age &lt;= 40 THEN '31-40' WHEN staff_age &gt;= 41 AND staff_age &lt;= 50 THEN '41-50' WHEN staff_age &gt;= 51 AND staff_age &lt;= 60 THEN '51-60' END AS staff_age FROM staff where section_id=#{section_id} and station_id=#{station_id}) a
        GROUP BY staff_age
    </select>
</mapper>