<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zty.smart_site.dao.WorktypeDao">
    <!--增加工种-->
    <insert id="InsertWorktype" parameterType="java.util.Map">
        INSERT INTO `smart_site`.`worktype` (`worktype_name`, `content`, `section_id`, `station_id`, `sub_id`, `remark`) VALUES (#{worktype_name}, #{content}, #{section_id}, #{station_id}, #{sub_id},#{remark});
    </insert>

    <!--删除工种-->
    <delete id="DeleteWorktype" parameterType="java.util.Map">
        DELETE FROM `smart_site`.`worktype` WHERE `id`=#{id}
    </delete>

    <!--修改工种-->
    <update id="UpdateWorktype" parameterType="java.util.Map">
        UPDATE `smart_site`.`worktype` SET `worktype_name`=#{worktype_name}, `content`=#{content}, `remark`=#{remark} WHERE (`id`=#{id});
    </update>

    <!--修改工种人数-->
    <update id="UpdateWorktypePerson_count" parameterType="java.util.Map">
        UPDATE `smart_site`.`worktype` SET `person_count`=#{person_count}+1 where `id`=#{worktype_id}
    </update>

    <!--分页模糊查询工种信息-->
    <select id="FindWorktype" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Worktype">
        <bind name="page" value="pageSize*(pageNo-1)"></bind>
        SELECT w.`id`,w.`worktype_name`, w.`content`, w.`section_id`, w.`station_id`,w.`sub_id`, w.`person_count`, w.`remark`,s.section_name as section_name,l.station_name as station_name,a.subcontractors_name as sub_name  FROM `smart_site`.`worktype` w
        INNER JOIN `smart_site`.`section` s ON w.`section_id`=s.`id`
        INNER JOIN `smart_site`.`station` l ON w.`station_id`=l.`id`
        INNER JOIN `smart_site`.`subcontractors` a ON w.`sub_id`=a.`id`
        <where>
            w.`section_id`=#{section_id}
            <if test="worktype_name!=null and worktype_name!=''">
                w.`worktype_name`=#{worktype_name}
            </if>
            <if test="station_id!=null and station_id!=''">
                w.`station_id`=#{station_id}
            </if>
        </where>
        limit #{page},#{pageSize}
    </select>

    <!--统计总数-->
    <select id="Total" parameterType="java.util.Map" resultType="long">
        SELECT COUNT(*) FROM `smart_site`.`worktype`
        <where>
            `section_id`=#{section_id}
            <if test="worktype_name!=null and worktype_name!=''">
                `worktype_name`=#{worktype_name}
            </if>
            <if test="station_id!=null and station_id!=''">
                `station_id`=#{station_id}
            </if>
        </where>
    </select>

    <!--下拉框查询工种信息-->
    <select id="SelectWorktype" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Worktype">
        SELECT `id`,`worktype_name` FROM `smart_site`.`worktype`
        where section_id=#{section_id} and sub_id=#{sub_id}
    </select>

    <!--根据worktype_id查询工种信息-->
    <select id="FindWorktypeByWorktypeId" parameterType="java.util.Map" resultType="com.zty.smart_site.entity.Worktype">
        SELECT `id`,`worktype_name`, `content`, `section_id`, `station_id`, `person_count`, `remark` FROM `smart_site`.`worktype` where id=#{worktype_id}
    </select>
</mapper>